.sidenav {
  height: auto; /* Full-height: remove this if you want "auto" height */
  width: auto; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 1; /* Stay at the top */
  left: 0;
  background-color: #fff; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 10px;
  margin-top: -25px;
}

.tile {
  height: 100%;
}

#recommendations {
  width: 80%;
  right: 0;
  position: absolute;
}

.hide {
  display: none;
}

main {
  margin-top: 7%;
}

#loctabs {
  padding-left: 20%;
}

#logo {
  max-height: 80px;
  max-width: 80px;
  padding: 10px;
}
